<% layout('layouts/boiler') -%>
<body>
    <div class="container">
     <ul>
    <li><%= product.title %></li>
    <li><%= product.description %></li>
    <li><%= product.price %></li>
    <li><%= product.location %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>

    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>
    <li><%= product.country %></li>

   </ul>
</div>


</body>

